.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--yellow);
    height: 120px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo>svg {
    max-width: 300px;
    height: 100%;
    max-height: 70px;
    fill: #228512;
}

.nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
}