.heroDivider {
  // align-items: center;
  background-color: var(--yellow);
  top: -25px;
  height: 250px;
  left: -5%;
  position: relative;
  transform: rotate(-1.55deg);
  width: 110%;
  z-index: 5;
}


