.content {
  max-width: 400px;
}

.input, .textarea {
  background-color: var(--platinum);
  border-radius: var(--borderRadius);
  border: none;
  height: 30px;
  margin-top: 1rem;
  padding: 0 0 0 10px;
  width: 100%;
}

.textarea {
  height: 90px;
}