.wrapper {
  /* transform: rotate( -1.55deg); */
  display: inline-flex;
  height: 40px;
  margin-bottom: 3rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

.rotator {
  background-color: var(--cyberGrape);
  box-shadow: 0 0 11px 0 gray;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.content {
  background-color: var(--yellow);
  box-shadow: 0 0 11px 0 gray;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.children {
  color: var(--cyberGrape);
  font-family: var(--fontShadow);
  font-size: 1.5rem;
  letter-spacing: var(--spacing);
  text-align: center;
}