.container {
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--magnolia);
    overflow: hidden;
}

.mainWrapper {
    padding-top: 90px; //height of the header
    flex: 2;
}

.logo {
    width: 200px;
}

.footer {
    text-align: center;
    border-top: 2px solid gray;
    min-height: 50px;
}

@media only screen and (max-width: 600px) {
    .mainWrapper{
        padding-top: 69px;
    }
}