.videoWrapper {
	height: 700px;
	position: relative;
	width: 100%;
	margin-bottom: 150px;
}

.video {
	height: 100%;
	/* margin-top: -40px; */
	object-fit: cover;
	width: 100%;
	z-index: -1;
}

.videoBottomFrame {
	align-items: center;
	background-color: var(--yellow);
	bottom: -85px;
	display: flex;
	height: 150px;
	justify-content: center;
	left: -5%;
	position: absolute;
	transform: rotate( -1.55deg);
	width: 110%;
	z-index: 5;
}

.videoBottomFrame>.text {
	font-family: var(--fontShadow);
	font-size: 2rem;
	letter-spacing: var(--spacing);
	position: absolute;
	text-align: center;
	width: 60%;
}

.controls {
	position: absolute;
	right: 10px;
	top: 20px;
}

.pausePlayButton {
  align-items: center;
  background-color: hsla(0, 0%, 50%, 0.5);
  border-radius: 50%;
  border: none;
  color: rgb(223, 223, 223);
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 15px;
  text-align: center;
}



@media (max-width: 780px) {
	.videoBottomFrame>.text {
		font-size: 2rem;
		width: 80%;
	}
}

@media (max-width: 640px) {
	.videoWrapper {
		height: 400px;
		margin-bottom: 150px;
	}
	.videoBottomFrame>.text {
		font-size: 1.5rem;
		width: 90%;
	}
	.videoBottomFrame {
		bottom: -80px;
		display: flex;
		height: 130px;
	}
}