.card {
  display: inline-flex;
  position: relative;
  z-index: 1;
}

.content {
  background-color: var(--cyberGrape);
  border-radius: var(--borderRadius);
  color: var(--platinum);
  box-shadow:  0 0 11px 0 gray;
  padding: 2rem;
}

.rotator{
  background-color: var(--yellow);
  border-radius: var(--borderRadius);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  box-shadow:  0 0 11px 0 gray;
}


.card:hover::after {
  transform: rotate(362deg);
}