.content {
  flex-grow: 2;
  padding: 0 2rem;
  min-width: 300px;
  font-size: 1.5rem;
}

.item {
  margin: 10px 0;
  vertical-align: middle;

  a {
    display: flex;
    align-items: center;

    svg {
      margin-right: 1rem;
    }
  }
}
