.wrapper {
  width: 100%;
  position: relative;
}

.divider {
  width: 100%;
  margin-top: -42px;
  height: 62px;
  background-color: var(--cyberGrape);
  transform: skewY(1deg);
}

@media (max-width: 780px) {
  .divider {
    margin-top: -42px;
    height: 62px;
  }
}

@media (max-width: 640px) {
  .divider {
    margin-top: -80px;
    height: 32px;
  }
}

/* 
.r1 {
  transform-origin: left center;
  background-color: red;
  transform: rotate(1deg);
}

.r2 {
  transform-origin: left center;
  background-color: rgb(4, 0, 255);
  transform: rotate(1.1deg);
}

.r3 {
  transform-origin: left center;
  background-color: rgb(29, 218, 12);
  transform: rotate(1.2deg);
} */