.wrapper {
  width: 100%;
  position: relative;
}

.divider {
  width: 110%;
  margin-top: -72px;
  height: 25px;
  background-color: var(--cyberGrape);
  transform: skewY(1deg) translateX(-5%);
}

@media (max-width: 780px) {
  .divider {
    margin-top: -42px;
    height: 62px;
  }
}

@media (max-width: 640px) {
  .divider {
    margin-top: -80px;
    height: 32px;
  }
}