@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');
html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #202430;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --fontShadow: 'Shadows Into Light';
  --fontMontserrat: 'Montserrat';
  --spacing: 4px;
  --niceGray: #373737;
  --darkText: #212121;
  --blueSapphire: #05668d;
  --yellow: #f7e733;
  --platinum: #eaebed;
  --darkPurple: #242038;
  --cyberGrape:#433c68;
  --magnolia: #ece5f0;
  --redCrayola:  #ff1053;
  --borderRadius: 8px;
}


h1,h2{
  font-family: var(--fontShadow);
  letter-spacing: var(--spacing);
}