.videoWrapper{
  height: 500px;
  max-width: 1440px;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.video{
  height: 100%;
  object-fit: cover;
  width: 100%;
  /* z-index: -1; */
}
.controls{
  position: absolute;
  right: 0;
  top:0;
}
.content{
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  min-width: 350px;
}

.logo{
  max-width: 100%;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}
